@model Status
@{
    ViewData["Title"] = "Durum Detayları";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i><span>@ViewBag.supplier</span> DURUM DETAY
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%">
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.StatusID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StatusID)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.StatusName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StatusName)
                            </td>
                        </tr>


                      

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Active)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Active)
                            </td>
                        </tr>

                    </tbody>
                </table>
                <a class="btn btn-success" href="/Admin/StatusIndex">Durum Formları</a>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>


